@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth background/text transitions */
html, body, div, main, nav, section, input, button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  